# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtual env
venv/
.venv/
env/

# Environment variables
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Screenshots storage
app/static/screenshots/*.png
app/static/screenshots/*.jpg
!app/static/screenshots/.gitkeep

# OS
.DS_Store
Thumbs.db

# Logs
*.log
